---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';


const pageTitle = 'About';
---

<BaseLayout {pageTitle}>
<h1>Welcome to the Booklez Blog</h1>
</BaseLayout>
