---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import '../styles/global.css'

const allPosts = await Astro.glob('./posts/*.mdx')

const pageTitle = 'Booklez Blog';

---

<BaseLayout {pageTitle}>
<h1>Welcome to my Blog Page</h1>
<ul>
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
</ul>

</BaseLayout>









