---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css'
const pageTitle = 'Blog';

---

<BaseLayout {pageTitle}>
<h1>Welcome to my Blog Page</h1>
</BaseLayout>









